body {
    background-color: #dafafd;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}
#container{ 
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    background-size: cover;
    border: 5px solid #4075bd;
}

.cielo{
    background:url(images/cielo_pequeño.jpg) repeat-X;
    animation: movebg 6s linear infinite;
}
.suelo {
    background: url(images/suelo_pequeño.png);
    
    /* animation: movebg 9s linear infinite; */
    margin-top: 215px;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}



.personaje {
    position: relative;
    bottom: 100px;
    width: 100%;
    

}
@keyframes movebg {
    0% { background-position:800px }
    100% { background-position:0 }
  }

#machango { 
    float: left;
    width: 800px;
   
}

#machango img {
     width: 70%;
  /*margin-top: 15%;
    margin-left: 13%;*/
}
.navegador {
    overflow: hidden;
    width: 800px;
    margin: 0 auto;
    background-color:crimson;
    border: 5px solid #4075bd;
}    
#consola{
    background-color: #4075bd;
    width: 500px;
    height: 100px;
    margin: 0 auto;
    float: left;
    margin-left: 125px;
    opacity: 0.6;
    border-radius: 25px;
        
}
/*#consola img{
 width: 75px;
    text-align: center;
    margin-left: 55px;
}*/

.botones{
    width: 600px;
    margin: 0 auto;
    margin-left: 115px;
}
.btn{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 15px 10px;
    border: 3px solid #ffffff;
    border-radius: 18px;
    background: #f9ff4a;
    background: linear-gradient(to bottom, #f9ff4a, #0e88ad);
    font: normal normal bold 17px verdana;
    color: #ffffff;
    text-decoration: none;
    float: left;
    margin: 2%;
}
.btn:hover,
.btn:focus {
    border: 3px solid #ffffff;
    background: #ffff59;
    background: linear-gradient(to bottom, #ffff59, #11a3d0);
    color: #ffffff;
    text-decoration: none;
}
.btn:active {
    background: #95992c;
    background: linear-gradient(to bottom, #95992c, #0e88ad);
}
.btn:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    /*background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABbklEQVRIid3VPUtcQRQG4MdlkUXCEqxELCy2WkSWIGIt/gNbuzT+ExGxCiGIiLWItQREbNcPxN4vEAVBbMRNSDbBYka4u9693l1iEV+YYt4557wzZ86c4T1iCnUMx3kFi5G7jaOOhbgGIzjARB6BItZxhm94xAbmMBk3MIfNuPYVF1iNvrkwgGscYyzDbgwnuIo+ubEipKGcw/YjjvAlb/BJPGA0wX1IsUtylejzKY/AupDXZ8xH51qCqwn5n09wK3G0oNA2L2IaWwnuHIe4S3D32I9rz9jCTErMFpTxG0NZRh0wgh/a0pl2ggJ+9iDQQL+2Uk2r24LwiLoVKaWRmfl6Cwzij1Db/8S3/QRN/NXhuK9gAL9ijI4CDdyg2oNANfo2sgSa2MVsDwKz2BEykIm0VvEaumoVhDb9Zs2OcMnfo2NWux4XWvq2HgqjhGWtH86Ulx/OUlbwvhxCFXwWmuCocImX2MMaTrvd+f+FJyLXTSGYtRcPAAAAAElFTkSuQmCC") no-repeat left center transparent;*/
    background-size: 100% 100%;
}

button img{
    width: auto;
    text-align: center;

}
/*#comida {
    background-image: url(./images/comida.png);
    background-repeat: no-repeat;
    width: auto;
    text-align: center;
}
#cama {
    background-image: url(./images/cama.png);
    background-repeat: no-repeat;
    width: auto;
    text-align: center;
}
#juego {
    background-image: url(./images/juego.png);
    background-repeat: no-repeat;
    width: auto;
    text-align: center;
}*/

.status {
    display: inline-block;
    width: 100px;
    background-color: aqua;
    margin: 0 auto;
    border-radius: 4px;
    padding: 3px 3px;

}

/* LLUVIA*/

#container .vapour {
    /*position: absolute;
    width: 100%;
    height: 100%;*/
    animation: vapour 10s linear infinite;
}

@keyframes vapour {
    0%, 100% {
        backdrop-filter: blur(0);
    }
    50% {
        backdrop-filter: blur(2px);
    }
}


#container i {
    position: absolute;
    width: 5px;
    height: 30px;
    top: -30px;
    background: #d3d3d3;
    animation: rain linear infinite;
}

@keyframes rain {
    0% {
        top: -10px;
    }
    100% {
        top: 100vh;
    }
}